<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flask + HTMX WS Demo</title>
    <script src="/static/htmx.js"></script>
    <script src="/static/ws.js"></script>
</head>

<body>
    <h1>Groups</h1>

    <div id="form-container">
        <form id="add_group" hx-post="/add_group" hx-swap="none">
            <input type="text" id="group" name="name" placeholder="Group Name" required autocomplete="off">
            <button type="submit">Add Group</button>
        </form>
    </div>

    <table id="test_table" border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Group</th>
            </tr>
        </thead>
        <tbody id="group_table_body">
            {% for g in groups %}
            <tr>
                <td id="g{{ g.id }}_1">{{ g.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>